name: Build

on:
  pull_request:
    branches: ['**']
    types: [opened, synchronize, reopened]
  push:
    branches:
      - master
      - alpha
      - canary
      - gold
      - V95
      - V85-LTS
    paths-ignore: ['.git*', '.vscode']

jobs:
  build:
    runs-on: windows-2022
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      # .NET 9 (GA)
      - name: Setup .NET 9
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      # .NET 10 (Preview)
      - name: Setup .NET 10 (preview)
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
          dotnet-quality: preview

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.2.0

      - name: Restore Packages
        run: nuget restore "Source/Krypton Components/Krypton Toolkit Suite 2022 - VS2022.sln"

      - name: Build Solution
        run: msbuild "Scripts/nightly.proj" /t:Rebuild /p:Configuration=Release /p:Platform="Any CPU"
